* {
	margin: 0 ;
	padding: 0;
	text-decoration: none;


}



@font-face {
	font-family:LEMONMILK;
	src: url(../fonts/lemon_milk/LEMONMILK-Light.otf);
}



#home{
	background: url("../images/ahri1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

#homemenucontainer{
	background-color:rgba(0, 0, 0, 0.3) ;
	margin-top: 3em;
	padding-top: 0;
	height: 90vh;
}



.banner .titre{
		color: black;
		padding-top: 2em;
		background-color: rgba(248, 227, 186, 0.43) ;


}

p img {
	float: left;
	width: 12em;
	margin: auto;
	border: ridge tomato 2px;
	margin-right: 1em;
}



main {
	color: black;
	font-family:LEMONMILK;
	;
}

.nav a:visited {
	color: white;
}

.nav a {
	color: white;
}

header {
	flex: 2;
	text-align: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 5em;
}

#logocontact img {
	width: 1.5em;
	height: 1.5em;
}

header .titre {
	padding-top: 10%;
	position: relative;
		margin: auto;
	background: none;
}

.tripletcontainer {
	flex-direction: row;
	text-align: center;


	width: 100%;
	height: 20em;
}

.tripletcontainer a:visited {
	color: white;
}

.tripletcontainer a {
	color: white;
}

.tripletcontainer a:hover {
	color: tomato;

}


.About {
	flex: 1;
	padding-top: 9em;
	background-color: none;
	background: none;
	opacity: 0.8;

}

.expertise {
	opacity: 0.8;

}

.education {
	opacity: 0.8;

}

.portfolio {
	opacity: 0.8;

}

#photomoi {
	flex: 2;
	height: 10em;
	width: 60%;
	border: solid tomato 1px;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	background-image: url(../images/photomoi.jpg);
	background-size: cover;
	background-position: center;
}

.content {
	margin-top: 4em;
	flex: 1;
	text-align: center;
}

.content div a {
	margin: 0.5em;
}

p {
	font-size: x-small;
	padding: 1em;
	border: solid tomato 1px;
	margin: 1em;
	text-align: justify;
}

h1 {
	padding: 1em;
	padding-bottom: 2em;
}

a {
	color: tomato;
}

#logocontact {
	font-size: 0.7em;
	padding: 1em;
}

#logocontact img {
	margin-right: 1em;
	margin-left: 1em;
}

.soustitre {
	font-size: small;
	text-align: left;
	margin: 0;
	padding-bottom: 0;
}

.dates {
	font-family: consolas;
	font-size: x-small;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;
}

.expertiseul {
	font-size: small;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: left;
	border: solid tomato 1px;
	padding: 1em;
	margin: 1em;
	padding-left: 2em;
}

.expertiseul li:nth-child(2) {
	color: tomato;
}

#projetcontainer {
	position: relative;
	height: 20em;
	text-align: left;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

#projetcontainer img {
	width: 20em;
	height: 20em;
}

#projet1 {
	position: absolute;
	transition: ease-out 2s;
}

#projet2 {
	position: absolute;
	width: 93.1%;
	height: 97%;
}

#projet1:active {
	transition: ease-in 2s;
	opacity: 0;
}

.side-container {
	display: none;
}




@media (min-width:760px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.side-container {
		display: block;
	}
	.nav li {
		border-right: tomato solid 1px;
		padding: 0.5em;
		font-variant: small-caps;
		font-size: medium;
	}
	.nav a:hover {
		color: tomato;
	}
	.nav ul {
		list-style: none;
	}
	.nav {
		text-align: right;
		padding-right: 4%;
		padding-top: 5em;
	}
	#menuToggle {
		display: none;
	}
	#projetcontainer img {
		width: 44em;
		height: 30em;
	}
	main {
		width: 100%;
		margin: auto;
	}
	.container {
		display: flex;
		margin: auto;
		flex-direction: row;
		width: 50em;
		align-content: center;
	}
	p {
		font-size: 1em;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-align: center;
		padding: 3em;
		overflow: auto;
	}
	.content {
		margin-top: 2em;
		align-content: center;
		text-align: center;
	}
	#photomoi {
		height: 30em;
		width: 40em;
		margin: auto;
		background-position: top;
		background-size: cover;
		margin-top: 6.9em;
	}
	#projetcontainer {
		position: relative;
		height: 30em;
		text-align: left;
		margin-left: 3em;
	}
	#projet1 {
		position: absolute;
		transition: ease-out 2s;
	}
	#projet2 {
		position: absolute;
		width: 93.1%;
		height: 97%;
	}
	#projet1:hover {
		transition: ease-in 2s;
		opacity: 0;
	}
	.expertiseul {
		font-size: large;
		text-align: center;
	}
}